* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

.header-left .header-top .nav .home, .header-left .header-top .nav .adds, .header-left .header-top .nav .person, .header-left .header-top .nav .mail {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%; }

.conteiner #portfolio .portfolio-content-img .picture-col-left p, .conteiner #portfolio .portfolio-content-img .picture-col-center p, .conteiner #portfolio .portfolio-content-img .picture-col-right p, .conteiner #contact .paragraf {
  text-align: center;
  font-size: 18px;
  padding: 10%; }

.conteiner #portfolio .zagolovok, .conteiner #about-me p, .conteiner #contact p {
  text-align: center;
  font-size: 40px; }

.menu-items {
  display: none; }

.header-left {
  background-color: #222629;
  width: 300px;
  height: 100%;
  position: fixed;
  display: flex;
  z-index: 5;
  flex-direction: column; }
  .header-left .header-top {
    width: 100%; }
    .header-left .header-top .logo {
      width: 100%;
      padding: 10%; }
      .header-left .header-top .logo .avatar {
        width: 48px;
        height: 48px; }
      .header-left .header-top .logo .right {
        color: #fff;
        font-size: 18px;
        float: right;
        font-weight: 600; }
      .header-left .header-top .logo p {
        color: rgba(255, 255, 255, 0.5);
        font-size: 10px;
        float: right;
        clear: both; }
    .header-left .header-top .nav {
      width: 100%;
      padding: 10%; }
      .header-left .header-top .nav a {
        text-decoration: none; }
      .header-left .header-top .nav .home:hover {
        background: #1d1f22;
        border-radius: 5px; }
        .header-left .header-top .nav .home:hover .material-icons {
          color: #d97284; }
        .header-left .header-top .nav .home:hover .header-text {
          color: #cececf; }
      .header-left .header-top .nav .adds:hover {
        background: #1d1f22;
        border-radius: 5px; }
        .header-left .header-top .nav .adds:hover .material-icons {
          color: #d97284; }
        .header-left .header-top .nav .adds:hover .header-text {
          color: #cececf; }
      .header-left .header-top .nav .person:hover {
        background: #1d1f22;
        border-radius: 5px; }
        .header-left .header-top .nav .person:hover .material-icons {
          color: #d97284; }
        .header-left .header-top .nav .person:hover .header-text {
          color: #cececf; }
      .header-left .header-top .nav .mail:hover {
        background: #1d1f22;
        border-radius: 5px; }
        .header-left .header-top .nav .mail:hover .material-icons {
          color: #d97284; }
        .header-left .header-top .nav .mail:hover .header-text {
          color: #cececf; }
      .header-left .header-top .nav .material-icons {
        color: #3b4145; }
      .header-left .header-top .nav .header-text {
        color: #888;
        font-size: 0.8em;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5%; }

.conteiner {
  width: 81%;
  margin-left: 19%;
  background: #f2f7f7; }
  .conteiner #top {
    width: 100%;
    height: 600px;
    background-image: url(/image/74092096.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; }
    .conteiner #top .top-center {
      font-family: Arial, Helvetica, sans-serif;
      color: #b2b5b4;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column; }
      .conteiner #top .top-center span {
        margin: 10% 15% 10% 15%;
        font-size: 40px;
        line-height: 2;
        font-weight: 300; }
      .conteiner #top .top-center p {
        color: #b2b5b4;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin: -5% 20% 5% 20%;
        line-height: 2; }
    .conteiner #top .fotter {
      width: 30%;
      border-radius: 5px;
      background: #759b99;
      font-size: 24px;
      padding: 1%;
      position: relative; }
      .conteiner #top .fotter:hover {
        background-color: #91bdbb; }
  .conteiner #portfolio {
    width: 80%;
    margin-left: 7%;
    font-family: Arial, Helvetica, sans-serif;
    color: #b2b5b4; }
    .conteiner #portfolio p {
      text-align: center;
      font-size: 18px;
      line-height: 2; }
    .conteiner #portfolio .portfolio-content-img {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .conteiner #portfolio .portfolio-content-img .picture-col-left {
        width: 30%; }
        .conteiner #portfolio .portfolio-content-img .picture-col-left .picture-col-left-pic {
          background: #fff;
          box-shadow: 0 1px 1px gray;
          margin-bottom: 10%; }
      .conteiner #portfolio .portfolio-content-img .picture-col-center {
        width: 30%; }
        .conteiner #portfolio .portfolio-content-img .picture-col-center .picture-col-center-pic {
          background: #fff;
          margin-bottom: 10%;
          box-shadow: 0 1px 1px gray; }
        .conteiner #portfolio .portfolio-content-img .picture-col-center .picture-col-center-small {
          background: #fff;
          box-shadow: 0 1px 1px gray;
          margin-bottom: 10%;
         }
      .conteiner #portfolio .portfolio-content-img .picture-col-right {
        width: 30%; }
        .conteiner #portfolio .portfolio-content-img .picture-col-right .picture-col-right-pic {
          background: #fff;
          margin-bottom: 10%;
          box-shadow: 0 1px 1px gray; }
  .conteiner #about-me {
    background-color: #e9eeee;
    width: 100%;
    color: #b2b5b4;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 1px 1px black; }
    .conteiner #about-me .img-about-me {
      padding-left: 10%;
      padding-right: 10%;
      width: 100%; }
      .conteiner #about-me .img-about-me p {
        font-size: 18px;
        color: #b2b5b4;
        line-height: 2; }
  .conteiner #contact {
    width: 100%;
    background-color: #e9eeee;
    color: #b2b5b4;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 1px 1px black; }
    .conteiner #contact .paragraf {
      line-height: 2; }
    .conteiner #contact .form-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .conteiner #contact .form-content .form {
        border-radius: 5px;
        font-size: 35px;
        width: 70%;
        height: 50px;
        margin-left: 7%;
        padding-left: 7px;
        margin-bottom: 7%;
        color: #b2b5b4; }
    .conteiner #contact .form-big {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
      height: 250px;
      border-radius: 5px;
      font-size: 35px;
      padding: 10px;
      color: #b2b5b4; }
    .conteiner #contact .knopka {
      width: 30%;
      border-radius: 5px;
      background: #759b99;
      font-size: 24px;
      padding: 10px;
      color: white; }
      .conteiner #contact .knopka:hover {
        background-color: #91bdbb; }
  .conteiner .buttom {
    width: 100%;
    background-color: #dce3e2; }
    .conteiner .buttom p {
      color: #b2b5b4;
      text-align: center;
      font-size: 18px;
      font-family: Arial, Helvetica, sans-serif; }

/*# sourceMappingURL=prologe.css.map */
